Package: com.arichorn.ytrenotifications
Name: YTReNotifications
Version: 1.0.2
Architecture: iphoneos-arm
Description: Remove Create tab and replaces it with Notifications tab in the YouTube app.
Maintainer: arichorn
Author: arichorn
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
