Package: com.arichorn.ytretrending
Name: YTReTrending
Version: 1.0.2
Architecture: iphoneos-arm
Description: Remove Shorts tab and replace with Trending tab in YouTube app.
Maintainer: arichorn
Author: arichorn
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
